<main class="content row">
  <div class="col-md-9 col-sm-12 content-experience">
    <h3>Experience</h3>
    <div class="row" *ngFor="let job of experiences">
      <div class="col-md-3 content-time">
        <span>{{job.date}}</span>
      </div>
      <div class="col-md-9">
        <b>{{job.position}}</b><br>
        <i>{{job.name}}, {{job.city}}</i><br>
        <span>Responsibilities:</span>
        <ul class="list">
          <li *ngFor="let task of job.responsibilities">{{task}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 content-skills">
    <section class="content-skill">
      <h3>Skills</h3>
      <ul>
        <li *ngFor="let item of skills"><b>{{item.name}}</b>
          <ul class="list">
            <li *ngFor="let technology of item.technology">{{technology}}</li>
          </ul>
        </li>
      </ul>
    </section>
    <section class="content-languages">
      <h3>Languages</h3>
      <ul>
        <li *ngFor="let language of languages"><b>{{language.name}}:</b> {{language.level}}</li>
      </ul>
    </section>
  </div>
</main>
