.content {
  margin-bottom: 20px;
}
.content h3 {
  color: #4193cf;
}
@media (min-width: 768px) {
  .content-experience {
    border-right: 1px solid #4193cf;
  }
}
.content-time {
  color: #828282;
  font-size: 0.8rem;
}
li {
  list-style: none;
}
.list li::before {
  content: "- ";
}
